image: registry.gitlab.com/pages/hugo:latest  # Hugo 官方镜像
pages:
  stage: deploy
  script:
    - hugo  # 生成静态文件到 public 目录
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
